@use "../theme.scss";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.primary-button {
		box-sizing: border-box;
		color: theme.$primary-100;
		background-color: white;
		font-size: 2em;
		font-weight: 600;
		padding: 0.2em 0.6em;
		border-radius: 6px;
		border: none;
		transition-duration: 200ms;
		height: fit-content;
		width: 100%;
		text-wrap: none;
		text-align: center;
		text-decoration: none;

		&.blue {
			color: white;
			background-color: theme.$primary-100;

			&:hover {
				background-color: white;
				outline: 0.1rem solid theme.$primary-100;
				color: theme.$primary-100;
			}
		}

		&:hover {
			background-color: theme.$primary-100;
			outline: 0.1rem solid white;
			color: white;
		}
	}
}

@media (min-width: 900px) {
	.primary-button {
		box-sizing: border-box;
		color: theme.$primary-100;
		background-color: white;
		font-size: 1.6rem;
		font-weight: 400;
		padding: 0.8rem 1.2rem;
		border-radius: 6px;
		border: none;
		transition-duration: 80ms;
		height: fit-content;
		width: fit-content;
		text-wrap: none;
		text-align: center;

		&.blue {
			color: white;
			background-color: theme.$primary-100;

			&:hover {
				background-color: white;
				color: theme.$primary-100;
				outline: 1px solid theme.$primary-100;
				translate: none;
				transition-duration: 80ms;
			}
		}

		// &.large {
		// 	font-size: 2rem;
		// 	// padding: 0.8em 1.2em;
		// }

		.outline {
			&:hover {
				background-color: theme.$primary-dark-100;
				color: theme.$primary-100;
			}
		}

		&.dark {
			box-sizing: border-box;
			color: theme.$primary-100;
			background-image: linear-gradient(20deg, theme.$primary-dark-200 60%, theme.$primary-dark-400);
			font-size: 1.6rem;
			font-weight: 400;
			padding: 0.8rem 1.2rem;
			border-radius: 6px;
			border: 1px solid theme.$primary-dark-300;
			transition-duration: 80ms;
			height: fit-content;
			width: fit-content;
			text-wrap: none;
			text-align: center;

			&:hover {
				background-color: theme.$primary-100;
				color: theme.$primary-100;
				outline: 1px solid theme.$primary-100;
				translate: none;
				transition-duration: 80ms;
			}

			// &.large {
			// 	font-size: 2rem;
			// 	// padding: 0.8em 1.2em;
			// }

			&.outline {
				&:hover {
					background-color: theme.$primary-100;
					color: theme.$primary-dark-100;
				}
			}
		}
	}
}
