@use "theme";

.contact-page-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	background-color: theme.$primary-dark-100;
	padding: 4rem 12rem;

	.container-header {
		display: flex;
		justify-content: space-between;
		align-items: start;
		color: white;
		margin-bottom: 2.4rem;

		.page-header{
			width: fit-content;
			align-self: end;
			margin-bottom: 0;
			padding: 0;
		}

		p {
			font-size: 1.6rem;
			font-weight: 300;
			width: 50%;
			text-align: left;
			align-self: end;
		}
	}

	.next-steps-info {
		color: white;
		flex-shrink: 1;
	}

	.main-container {
		display: flex;
	}

	.text-content {
		h2 {
			font-size: 3.6rem;
			font-weight: 700;
			margin-bottom: 1.2rem;
		}

		h3 {
			font-size: 2.4rem;
			margin-bottom: 1.2rem;
		}
	}

	.list-container {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		height: fit-content;
	}

	.list-item {
		display: flex;
		align-items: start;
		column-gap: 1.2rem;

		p {
			height: fit-content;
			text-wrap: wrap;
			width: 75%;
		}
	}

	.item-counter {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		border-radius: 100%;
		background-color: white;
		color: theme.$primary-100;
		font-weight: 600;
		height: 2.4rem;
		width: 2.4rem;
	}
}
