@use "theme";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.homepage-container {
		display: flex;
		justify-content: center;
	}

	.content-box {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 4rem;

		h1 {
			width: 100%;
			font-size: 3.2rem;
			line-height: 2%;
			font-weight: 600;
			color: theme.$primary-100;
			line-height: 1em;
			text-align: center;
		}
		h2 {
			font-size: 2rem;
			font-weight: 300;
			color: theme.$primary-100;
			text-wrap: normal;
			text-align: center;
		}
		span {
			font-size: 1.6rem;
			text-align: left;
			font-weight: 700;
			color: theme.$primary-dark-300;
		}

		.button-container {
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
			width: 100%;
		}
	}

	.service-section {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
		width: 100%;
		padding: 6.4rem 2rem;
	}

	.header-container {
		display: flex;
		width: 100%;
		text-align: center;

		h1 {
			width: 100%;
			text-align: center;
			font-size: 4rem;
			color: white;
			font-weight: 500;
			z-index: 20;
			line-height: 5rem;
			padding-bottom: 2rem;
			margin-bottom: 12rem;
		}
	}

	.service-grid {
		display: flex;
		flex-direction: column;
		row-gap: 12rem;
		align-items: center;
		height: fit-content;
		width: fit-content;
	}
}

@media (min-width: 900px){
	.homepage-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 28rem;
		align-items: center;
		height: fit-content;
		padding: 6rem 12rem;
		width: 100%;
		background-color: theme.$primary-dark-100;
	}
	.image-container{
		
	}
	.about-section {
		display: flex;
		position: relative;

		img {
			position: absolute;
			height: 60rem;
			width: 60rem;
			background-color: theme.$primary-dark-100;
			box-shadow: 0 0 3rem 0.5rem theme.$primary-dark-300;
			border: 1px solid theme.$primary-dark-300;
			border-radius: 5rem;
			right: 0;
			z-index: 1;
		}

		.about-section-content {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 64rem;
			z-index: 2;

			h1 {
				width: 100%;
				font-size: 7.2rem;
				font-weight: 500;
				color: white;
				line-height: 1em;
				padding-bottom: 2rem;
			}
			h2 {
				font-size: 3rem;
				font-weight: 500;
				color: theme.$primary-100;
				text-wrap: normal;
				width: 50%;
			}
			p{
				color: white;
				font-size: 1.6rem;
				font-weight: 200;
				width: 45%;
			}

			.button-container {
				display: flex;
				column-gap: 2rem;
				width: 100%;
			}
		}
	}

	.service-section {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		row-gap: 3rem;
		height: 100vh;
		width: 100%;
	}

	.header-container {
		display: flex;
		width: 100%;
		text-align: center;

		h1 {
			width: 100%;
			font-size: 5.1rem;
			line-height: 5rem;
			font-weight: 600;
			color: white;
			line-height: 1em;
			padding-bottom: 6rem;
		}
	}

	.service-grid {
		display: grid;
		justify-content: center;
		grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [last];
		column-gap: 2.8rem;
		row-gap: 3.8rem;
		height: fit-content;
		width: 100%;
	}
}
