@use "theme";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.service-page-container {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: fit-content;
	}

	.service-page-section {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 1rem;
		padding: 6.4rem 2rem;
		height: fit-content;
		width: 100vw;
	}

	.service-page-section-header {
		margin-bottom: 4rem;
		&.blue {
			color: theme.$primary-100;
		}

		h2 {
			font-size: 2.4rem;
			margin-bottom: 1rem;
			text-align: center;
		}

		p {
			font-size: 1.6rem;
			color: black;
			font-weight: 300;
			text-align: center;
		}
	}

	.hr {
	}

	.service-page-section-description {
	}

	.service-page-grid {
		display: flex;
		flex-direction: column;
		row-gap: 6.4rem;
	}

	.additional-scope {
		p {
		}
	}
}

@media (min-width: 900px) and (max-width: theme.$breakpoint-desktop) {
	.service-page-container {
		box-sizing: border-box;
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0 12rem;
		background-color: theme.$primary-dark-100;;
	}

	.service-page-section {
		box-sizing: border-box;
		position: relative;
		display: flex;
		flex-direction: column;
		height: fit-content;
		padding: 20rem 2rem;
	}

	.service-page-section-header {
		display: flex;
		justify-content: space-between;
		align-items: top;
		color: white;
		font-size: 2.4rem;
		text-align: left;
		font-weight: 400;
		width: fit;
		height: fit-content;
		border-bottom: 2px solid theme.$primary-300;
		padding-bottom: 2rem;

		&.blue {
			color: theme.$primary-100;
		}

		h2 {
			width: 50%;
		}

		p {
			font-size: 2rem;
			font-weight: 300;
			width: 60%;
		}
	}

	.hr {
		width: 100%;
	}

	.service-page-section-description {
		vertical-align: top;
		font-size: 2rem;
		font-weight: 600;
		width: 50%;
		text-wrap: wrap;
	}

	.service-page-grid {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		box-sizing: border-box;
		column-gap: 2.4rem;
		row-gap: 2.4rem;
		padding-top: 6.4rem;
	}

	.additional-scope {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 700;
		margin-bottom: 12rem;
		text-align: center;
		color: white;
		row-gap: 2rem;

		p {
			font-size: 2rem;
		}
	}
}
