@use "theme";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.about-page-container {
		position: relative;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding: 4rem 2rem 0rem 2rem;

		.header-section {
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
			box-sizing: border-box;
			background-color: white;
			color: black;
			width: 100vw;
			padding: 6rem 2rem;

			.header-title {
				color: black;
				text-align: center;
			}
			.header-content {
				color: gray;
				text-align: center;
				margin: 0;
			}
		}
	}
	.cover-background {
		visibility: hidden;
	}

	.page-header {
		font-size: 2.8rem;
		color: white;
		z-index: 2;
	}

	.about-page-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: fit-content;
		// padding: 4rem 0;

		h2 {
			font-size: 2.4rem;
			color: white;
			font-weight: 500;
			width: 100%;
			text-align: left;
		}

		p {
			font-size: 1.6rem;
			text-align: left;
			color: white;
			margin-bottom: 4rem;
		}
	}

	.icon-section {
		display: flex;
		flex-direction: column;
		color: white;
		justify-content: center;

		p {
			text-align: center;
		}
	}

	.process-container {
		display: flex;
		flex-direction: column;
		height: fit-content;
		// row-gap: 4rem;
		width: 32rem;
		padding: 5rem 4rem;
		border-top: 0.2rem solid theme.$primary-300;
		border-bottom: 0.2rem solid theme.$primary-300;

		.inner-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.2rem;
		}

		h3 {
			font-size: 2rem;
			display: inline-flex;
			width: fit-100;
			padding-right: 2rem;
			// vertical-align: middle;
		}
		svg {
			display: grow;
			vertical-align: middle;
			height: 3.6rem;
			width: 3.6rem;
		}

		p {
			height: 4rem;
			font-size: 1.6rem;
			font-weight: 300;
			text-wrap: wrap;
			text-align: left;
			margin: 1rem;
			padding-top: 1rem;
			display: contents;
		}
	}

	.slider-container {
		width: 100%;
		z-index: 2;
		visibility: hidden;
	}
	.slider-stop {
		position: sticky;
		top: 10rem;
		width: 100%;

		// &.stuck {
		// 	box-sizing: border-box;
		// 	position: fixed;
		// 	top: 20rem;
		// 	width: 100%;
		// 	padding: 0 28rem;
		// }
	}
}

@media (min-width: 900px){
	.about-page-container {
		position: relative;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 12rem 12rem;
		align-items: start;
		background-color: theme.$primary-dark-100;

		.header-section {
			text-align: center;
		}
	}
	.page-header-container {
		display: flex;
		flex-direction: column;
		width: 100%;

		div {
			height: 80vh;
			width: 100%;
		}
	}
	.left {
		display: flex;
		column-gap: 10rem;
		justify-content: space-between;

		div {
			width: 100%;
		}
	}
	.right {
		display: flex;
		column-gap: 10rem;
		justify-content: space-between;

		div {
			width: 100%;
		}
	}
	.image-container {
		position: relative;

		.img-1 {
			height: 24rem;
			width: auto;
			position: absolute;
			top: -5rem;
			right: -5rem;
			z-index: 5;
		}
		.img-2 {
			height: 20rem;
			width: auto;
			position: absolute;
			top: 20rem;
			right: -5rem;
			z-index: 5;
		}
		.img-3 {
			height: 15rem;
			width: auto;
			position: absolute;
			top: -2rem;
			left: -2rem;
			z-index: 3;
		}
		.img-4 {
			height: 22rem;
			width: auto;
			position: absolute;
			top: 0;
			left: 6rem;
			z-index: 1;
		}
		.img-5 {
			height: 25rem;
			width: auto;
			position: absolute;
			top: 22rem;
			left: 0;
			z-index: 5;
		}
	}

	.process-img {
		position: relative;
		height: 40rem;
		width: 40rem;
		border-radius: 20rem;
		border: 1px solid theme.$primary-dark-300;
		box-shadow: 0 0 3rem 0.5rem theme.$primary-dark-300;
	}
	.cover-background {
		width: 100vw;
		height: 13rem;
		z-index: 1;
		position: fixed;
		top: 0;
		background-color: theme.$primary-dark-100;
	}
	.overflow-section {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		// overflow-y: scroll;
		scroll-snap-type: y mandatory;
		height: fit-content;
		width: 100%;
		z-index: 0;
		flex-direction: column;
		row-gap: 20rem;
		padding: 0 2rem;
	}

	.page-header {
		font-size: 7.2rem;
		color: white;
		font-weight: 500;
		padding-bottom: 2rem;
		scroll-snap-align: start;
		overflow-y: hidden;
		z-index: 2;
	}
	.header-content {
		color: white;
		font-size: 1.6rem;
		font-weight: 200;
		line-height: 4rem;

		span {
			font-size: 2rem;
			font-weight: 400;
			color: theme.$primary-100;

			&.normal {
				font-size: 1.6rem;
				font-weight: 300;
			}
		}
		b {
			color: theme.$primary-100;
		}
	}

	.about-page-section {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		border-radius: 2rem;

		h2 {
			font-size: 6.0rem;
			color: white;
			font-weight: 500;
			text-align: start;
			padding-bottom: 0.5rem;
			color: white;
		}

		p {
			font-size: 1.6rem;
			text-align: start;
			color: white;
			padding-bottom: 4rem;
			width: 60%;
		}
	}

	.icon-section {
		display: grid;
		grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [end];
		color: white;
		height: fit-content;


		p {
			text-align: center;
		}
	}

	.process-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 32rem;
		width: 32rem;
		padding: 1rem 1.6rem;

		h3 {
			font-size: 2.4rem;
		}

		.inner-container {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			text-align: center;
			height: 100%;
			width: 100%;
			border: 1px solid theme.$primary-100;
			border-radius: 2rem;
		}

		p {
			height: 4rem;
			font-size: 1.6rem;
			font-weight: 300;
			text-wrap: wrap;
			width: 80%;
		}
		svg {
			color: theme.$primary-100;
		}
	}

	.slider-container {
		width: 100%;
		z-index: 2;
	}
	.slider-stop {
		position: sticky;
		top: 10rem;
		width: 100%;

		// &.stuck {
		// 	box-sizing: border-box;
		// 	position: fixed;
		// 	top: 20rem;
		// 	width: 100%;
		// 	padding: 0 28rem;
		// }
	}
}
