@use "theme.scss";
@use "aboutpage.scss";
@use "forms.scss";
@use "homepage.scss";
@use "servicePage.scss";
@use "contactPage.scss";

@font-face {
	font-family: "Manrope";
	src: url("../src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Comfortaa";
	src: url("../src/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Raleway-VariableFont_wght";
	src: url("../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Reddit-Sans";
	src: url("../src/assets/fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf");
}

.main-app {
	background-color: theme.$primary-dark-200;
	font-family: Manrope, sans-serif;
}

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	// .background-white {
	// 	box-sizing: border-box;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// 	width: 100vw;
	// 	height: fit-content;
	// 	background-color: #f7fcff;
	// 	padding: 6.4rem 2rem;
	// }
}

@media (min-width: 900px) {
	// .background-white {
	// 	box-sizing: border-box;
	// 	display: flex;
	// 	justify-content: center;
	// 	width: 100vw;
	// 	background-color: #f7fcff;
	// 	padding: 0 28rem;
	// }
}
