@use "../styles/theme.scss";

// LapTop
@media (min-width: theme.$breakpoint-laptop) {
	.contact-form {
		display: flex;
		height: 48em;
		border-radius: 2rem;
		width: 100%;
		transition-duration: 300ms;

		.form-content {
			display: flex;
			justify-content: space-between;
			width: 100%;

			&.column {
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				text-align: center;
				width: 100%;
			}

			.content-description {
				color: white;
				font-size: 2rem;
				font-weight: 400;
			}
		}

		.form-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			text-align: center;
			padding: 1.6rem 2.4rem;

			&.left {
				justify-content: space-around;
				align-items: center;
				text-align: center;
				height: 100%;
			}

			&.right {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				font-size: 1.6rem;
				justify-content: space-between;
				background-color: theme.$primary-dark-200;
				border-radius: 2rem;
				color: theme.$primary-100;
			}
		}

		.form-div {
			box-sizing: border-box;
			position: relative;
			width: 100%;
			border: 0.1rem solid theme.$primary-100;
			border-radius: 0.5rem;
			padding: 0.25rem 0.5rem;

			&.select {
				width: fit-content;
			}
		}

		.projectDetails {
			position: relative;
			display: flex;
			flex-direction: column;
			border-bottom: none;
			width: 100%;
			border-bottom: 0.1rem solid black;

			&.active {
				border: none;
			}

			// label {
			// 	font-size: 1.6rem;
			// 	position: absolute;
			// 	&.active {
			// 		font-size: 1.6rem;
			// 		translate: .0rem -3.6rem;
			// 		color: black;
			// 	}
			// }

			textarea {
				width: 100%;
				height: 2rem;
				resize: none;
				padding: 1rem;
				color: black;

				&:focus {
					outline: none;
					color: white;
				}

				&.active {
					height: 20rem;
					border: 0.1rem solid white;
					border-radius: 2rem;
				}
			}
		}
		.form-button {
			margin: auto auto;
			width: 25%;
			text-align: center;
			border: none;
			bottom: 0;
		}
	}

	.form-header {
		font-size: 2.4rem;
		font-weight: 500;
		margin-bottom: 1.6rem;
	}

	.input-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 3.6rem;
		width: 100%;
		position: relative;

		&.close {
			row-gap: 0rem;
		}
	}

	.form-row {
		display: flex;
		justify-content: space-around;
		align-items: center;
		column-gap: 2rem;
		width: 100%;

		&.center {
			justify-content: center;
		}

		&.start {
			justify-content: start;
			column-gap: 1.2rem;
		}
	}

	.form-column {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		row-gap: 0.8rem;
	}

	.form-input {
		width: 100%;
		padding-bottom: 0.4rem;
		border: none;
		font-size: 1.6rem;
		background-color: theme.$primary-dark-200;
		color: white;

		&:focus {
			outline: none;
		}
	}

	.checkbox-input {
		display: flex;
		justify-content: space-between;
		width: 100%;
		border: 0.1rem solid black;
		height: 1.6rem;
		width: 1.6rem;
		column-gap: 1.2rem;
	}

	.form-label {
		font-size: 1.8rem;
		position: absolute;
		transition-duration: 300ms;
		color: white;

		&.active {
			font-size: 1.6rem;
			translate: 0rem -3rem;
			transition-duration: 300ms;
		}
	}

	.text-area-container {
		width: 100%;
		height: 30%;
		display: flex;
		flex-direction: column;
		text-align: start;

		.input-textarea {
			box-sizing: border-box;
			width: 100%;
			border: 0.1rem solid black;
			border-radius: 1rem;
			height: 100%;
			padding: 1.2rem;
		}
	}

	.input-header {
		font-size: 1.6rem;
		font-weight: 600;
		color: theme.$primary-100;
	}
}
