@import 'tailwindcss';

@font-face {
	font-family: "Manrope";
	src: url("../src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Comfortaa";
	src: url("../src/assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Raleway-VariableFont_wght";
	src: url("../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Reddit-Sans";
	src: url("../src/assets/fonts/Reddit_Sans/RedditSans-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Encode-Sans";
	src: url("../src/assets/fonts/encode_sans/EncodeSans-VariableFont_wdth\,wght.ttf");
}

.main-app {
	font-family: Reddit-Sans, sans-serif;
}

@theme{
	--color-primary: #F27B35;
	--color-primary-dark: #8C230B;
	--color-secondary: #5F94D9;
	--color-background: #FFE3D0;
	--color-light-gray: #f2f2f2

	/* --breakpoint-xs: 30rem;
	--breakpoint-2xl: 100rem;
	--breakpoint-3xl: 120rem; */
}