@use "../theme.scss";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.footer-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: start;
		position: relative;
		width: 100%;
		justify-content: space-between;
		height: fit-content;
		padding: 4rem 2rem;
		border-top: 1px solid theme.$primary-300;
	}

	.footer-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: white;
		row-gap: 1rem;
	}

	.contact-information {
		display: flex;
		flex-direction: column;
		justify-content: end;
		row-gap: 1rem;

		p {
			font-size: 1.6rem;
		}

		img {
			width: 3rem;
			height: 3rem;
		}
	}

	.link-container {
		display: flex;
		justify-content: start;
		flex-direction: column;
		row-gap: 1rem;
	}

	.footer-link {
		font-size: 1.6rem;
		color: white;
		text-decoration: none;
	}

	.footer-image{
		height: 6rem;
		width: 6rem;
	}
}

@media (min-width: 900px) and (max-width: theme.$breakpoint-desktop) {
	.footer-container {
		box-sizing: border-box;
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		height: 20rem;
		padding: 5rem 12rem;
		border-top: 1px solid theme.$primary-300;
		background-color: theme.$primary-dark-100;
	}

	.footer-content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		color: white;
	}

	.contact-information {
		display: flex;
		flex-direction: column;
		justify-content: start;
		row-gap: 1rem;

		p {
			font-size: 1.6rem;
		}

		img {
			width: 3rem;
			height: 3rem;
		}
	}
	.company-info{
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		font-size: 1.6rem;
	}

	.link-container {
		display: flex;
		justify-content: start;
		flex-direction: column;
		row-gap: 1rem;
	}

	.footer-link {
		font-size: 1.6rem;
		color: white;
	}
}
