@use "../theme.scss";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
	.servicecard-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: white;
		padding: 1.6rem;
		border-radius: 0.5rem;
		height: 36rem;
		width: 100%;
		box-shadow: 20px;

		.card-row {
			display: flex;
			width: 100%;
			justify-content: space-between;
			color: theme.$primary-100;
		}

		.card-header {
			font-weight: 600;
			font-size: 2.4rem;
		}
		svg {
			height: 3.6rem;
			width: 3.6rem;
		}

		.card-description {
			font-size: 2rem;
			color: black;
			padding-bottom: 1rem;
		}
	}
}

@media (min-width: 900px) and (max-width: theme.$breakpoint-desktop) {
	.servicecard-container {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: theme.$primary-dark-100;
		box-shadow: 0 0 2rem .2rem theme.$primary-dark-300;
		padding: 2rem;
		border: 1px solid theme.$primary-dark-300;
		border-radius: 2rem;
		height: 36rem;
		width: 25rem;
		box-shadow: 40px;

		.card-row {
			display: flex;
			width: 100%;
			color: theme.$primary-100;
		}

		.card-header {
			font-weight: 600;
			font-size: 2.4rem;
			text-align: center;
			color: white;
		}
		.service-card-icon {
			position: absolute;
			right: -2rem;
			top: -2rem;
			background-color: theme.$primary-dark-100;
			padding: 1rem;
			border: 1px solid theme.$primary-100;
			border-radius: 50%;
			color: theme.$primary-100;
		}

		.card-description {
			font-size: 1.8rem;
			color: white;
			font-weight: 300;
			padding-bottom: 1rem;
			text-align: center;
		}
	}
}
