@use "../theme.scss";

@media (min-width: theme.$breakpoint-mobile) and (max-width: 900px) {
}

@media (min-width: 900px) {
	.navslider-container {
		box-sizing: border-box;
		width: 100%;
		border-radius: 0.5rem;
		background-color: theme.$primary-100;
		box-shadow: 5px;
		color: black;
	}
	.navcomponents {
		display: grid;
		grid-template-columns: [start] 1fr [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [end];
		align-items: center;
		font-weight: 500;
		font-size: 1.8rem;
		color: theme.$primary-100;
		padding: 0.5rem 2rem;
		text-align: center;
	}

	.navcomponent {
		box-sizing: border-box;
		color: white;
		flex-shrink: 1;

		&:hover {
			color: white;
			// transition-duration: 80ms;
		}
		&.active {
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			color: theme.$primary-dark-100;
			outline: 1px solid theme.$primary-dark-100;
		}
	}
}
